
/* ---- reset ---- */

html {
    box-sizing: border-box;
  }
  *, *:before, *:after {
    box-sizing: inherit;
  }
  
  body {
    margin: 0;
    padding: 0;
  }
  
  
  /* ---- typography ---- */
  
  body {
    color: #111;
    font-family: 'Press Start 2P', cursive, Helvetica, Arial, sans-serif;
    font-size: 16px;
    line-height: 147%;
  }
  
  h1 {
      text-align: center;
      font-family: 'Hanalei Fill', cursive;
      font-size: 8vw;
  }
  
  h2 {}
  
  h3 {}
  
  p {
    margin: 0;
  }
  
  
  
  /* ---- layout ---- */
  
  #site-header {
    padding: 30px 0;
    color: white;
    background: #111;
  }
  
  #site-footer {
    color: white;
    padding: 60px 0;
    background: #111;
  }
  
  #site-main {
    margin-bottom: 60px;
  }
  
  .container {
    margin: 0 20px;
  }
  
  .section {
    margin-bottom: 20px;
    padding-top: 20px;
  }
  
 /*  @media (min-width: 768px) {
    .container {
      max-width: 728px;
      margin: 0 auto;
    }
  } */

  main {
    text-align: center;
    background-image: url(paper.png);
    background-size: cover;
    display: grid;
    justify-content: center;
    border-bottom: 3px solid;
    border-top: 3px dotted;
    padding: 40px;
  }
  main img {
    max-width: 70%;
    box-shadow: 1px 2px 17px 10px #0000008c;
    border: 10px solid black;
    border-radius: 50%;
  }
  .eye{
    border: 2px solid;
    border-top: 4px solid;
    border-radius: 50%;
    margin: 3px auto;
    padding: 1%;
    max-width: 40%;
}
  
  
  
  
  
  
  /* ---- components ---- */
  
  button {
    background-color: blue;
    border-radius: 2px;
    align-self: center;
    margin: 3%;
    padding: 15px;
    color: #fff;
    border: 3px groove #00000069;
    font-family: 'Press Start 2P', cursive;
}

  
  .btn-instruction {
    background-color: #2b2bda;
    border-radius: 2px;
    align-self: center;
    width: 30%;
    font-size: 11px;
    margin: 3%;
    padding: 15px;
    color: #fff;
    border: 3px groove #00000069;
    font-family: 'Press Start 2P', cursive;
    transition: width 1s;
  }
  .btn-instruction a{
    display: none;
    
  }
  .btn-instruction ul{
    display: none;
    list-style-type: none;
    padding: 0px;
  }
  .btn-instruction div{
    display: none;
    }
.btn-instruction:hover div{
        display: inline;
        }
  .btn-instruction:hover{
    width: 400px;
    height: 400px;
    position: absolute;
    top: 0;
    right: 20%;
    padding: 72px;
    padding-top: 15px;
  }
  .btn-instruction:hover ul{
    display: inline-block;
    padding: 0px;
  }
  .btn-instruction:hover span{

    text-decoration: underline;
    
  }

  .btn-instruction:hover p{
    margin: 10px;
    
  }
  
  .instruction-image{
    max-width: 141px;
  }
  #buttons{
    clear: both;
    border: 3px double;
    padding: 10px;
    width: 100%;
  }
  #buttons li{
      padding: 1%;
  }
  .knight-image-left{
    float: left;
  }
  .knight-image-right{
      max-width: 10%;
  }
  #keyboard {
    color: white;
    padding: 1%;
    border: 1px solid;
  }
  .btn-start {
    background-color: #e23434;
    border-radius: 2px;
    align-self: center;
    width: 30%;
    margin: 3%;
    padding: 15px;
    color: #fff;
    border: 3px groove #00000069;
    font-family: 'Press Start 2P', cursive;
  }
  
  canvas{
      border: 2px solid black;
      margin: auto;
      margin-top: 20px;
  }
  @media screen and (min-width: 900px) {
    .btn-instruction:hover{
        width: 800px;
        height: 700px;

    }
    .btn-instruction:hover a{
        display: inline-block;
      }
  }
  /* ---- section ---- */
  
  