
/* ---- reset ---- */

html {
    box-sizing: border-box;
  }
  *, *:before, *:after {
    box-sizing: inherit;
  }
  
  body {
    margin: 0;
    padding: 0;
    overflow: hidden;
  }
  
  
  /* ---- typography ---- */
  
  body {
    color: #111;
    font-family: 'Press Start 2P', cursive, Helvetica, Arial, sans-serif;
    font-size: 16px;
    line-height: 147%;
  }
  
  h1 {
    text-align: center;
    font-family: 'Hanalei Fill', cursive;
    font-size: 8vw;
    margin: 0;
    color: #e23434;
    text-shadow: -11px -20px 20px #241e25;
    padding: 30px;
}
  
  
  h2 {
    color: #1500ff;
    text-shadow: 2px 3px 3px black;
  }
  
  h3 {}
  
  p {
    margin: 0;
    text-decoration: underline;
  }
  
  
  
  /* ---- layout ---- */
  
  #site-header {
    padding: 30px 0;
    color: white;
    background: #111;
  }
  
  #site-footer {
    color: white;
    padding: 60px 0;
    background: #111;
  }
  
  #site-main {
    margin-bottom: 60px;
  }
  
  .container {
    margin: 0 20px;
  }
  
  .section {
    margin-bottom: 20px;
    padding-top: 20px;
  }
  
 /*  @media (min-width: 768px) {
    .container {
      max-width: 728px;
      margin: 0 auto;
    }
  } */
  .splash-container {
    background-image: url(./images/backgrounds/knight.jpg);
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
}
.instruction-header {
  display: block;
}
.game-over {
  background-image: url(./images/backgrounds/eye-kid.jpg);
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.game-over h1 {
  text-align: center;
    font-family: 'Hanalei Fill', cursive;
    font-size: 8vw;
    margin: 0;
    color: #e23434;
    text-shadow: -2px 11px 0px #241e25;
    padding: 30px;
}
  
  main {

    width: 100vw;
    height: 100vh;
  }
  main img {
    max-width: 70%;
    box-shadow: 1px 2px 17px 10px #0000008c;
    border: 10px solid black;
    border-radius: 50%;
  }
  /* main div {
    max-width: 70%;
    box-shadow: 1px 2px 17px 10px #0000008c;
    border: 10px solid black;
    border-radius: 50%;
  } */
  .eye{
  
    
    margin: 3px auto;
    padding: 1%;
    max-width: 40%;
}
  
  
  
  button.quit-button {
    background-color: #E91E63;
    position: absolute;
    top: -41px;
    width: 10%;
    height: 10px;
    
    font-family: 'Press Start 2P', cursive; 
}
  
  
  /* ---- components ---- */
  
  button {
    background-color: blue;
    border-radius: 2px;
    align-self: center;
    margin: 3%;
    padding: 15px;
    color: #fff;
    border: 3px groove #00000069;
    font-family: 'Press Start 2P', cursive;
}

  .button-container {
    display: flex;
    justify-content: center;
    padding: 13%;
  }
  .btn-instruction {
    background-color: #2b2bda;
    border-radius: 2px;
    align-self: center;
    font-size: 11px;
    margin: 3%;
    padding: 15px;
    color: #fff;
    border: 3px groove #00000069;
    font-family: 'Press Start 2P', cursive;
    transition: width 1s;
  }
  .btn-instruction a{
    display: none;
    
  }
  .btn-instruction ul{
    display: none;
    list-style-type: none;
    padding: 0px;
  }
  .btn-instruction div{
    display: none;
    }
.btn-instruction:hover div{
  display: flex;
        }
  .btn-instruction:hover{
    width: 400px;
    height: 400px;
    position: absolute;
    top: 0;
    right: 20px;
    padding: 72px;
    padding-top: 15px;
  }
  .btn-instruction:hover ul{
    display: inline-block;
    padding: 0px;
  }
  .btn-instruction:hover span{

    text-decoration: underline;
    
  }

  .btn-instruction:hover p{
    margin: 10px;
    
  }
  label {
    color: white;
  }
  .settings {
    display: flex;
    flex-direction: column;
    height: 14vh;
    justify-content: space-around;
    align-items: center;
    margin: 20px;
    margin-top: 40px;
    color: white;
  }
  select {
    background-color: white;
    border: 0px;
    width: 32%;
    height: 4vh;
    margin: 10px;
  }
  
  .instruction-image{
    max-width: 131px;
    max-height: 46%;
  }
  div.images-instructions {
    display: flex;
    justify-content: space-around;
  }
  #buttons{
    clear: both;
    border: 3px double;
    padding: 10px;
    width: 100%;
  }
  #buttons li{
      padding: 1%;
  }
 
  #keyboard {
    color: white;
    padding: 1%;
    border: 1px solid;
  }
  .btn-start {
    background-color: #e23434;
    border-radius: 2px;
    align-self: center;
    width: 30%;
    margin: 3%;
    padding: 15px;
    color: #fff;
    border: 3px groove #00000069;
    font-family: 'Press Start 2P', cursive;
  }
  
  .shooter-game {
   cursor: none;
  }
  @media screen and (min-width: 900px) {
    .btn-instruction:hover{
      width: 80vw;
      height: 100vh;

    }
    .btn-instruction:hover a{
        display: inline-block;
      }
  }
  /* ---- section ---- */
  
  